@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');    
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;

  color: #fff;
 
  background: #1b558c;
  background: #11354f;
  background: #133753;
  background: #05182c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  height: 100vh;
}

button {
  background: #11354f;
  background: #1b558c;
  background: #3aa0d1;
 
  color: #FFF;
  color: #89feff;

  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: 0.2s;
}

a {
  color: #41414d;
  color: #3eaadd;

  display: flex;
  align-items: center;
  margin-top: 40px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}

a:hover {
  opacity: 0.8;
}

button:hover {
  filter: brightness(90%);
}

input, button, textarea {
  font: 400 18px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

form input {
  width: 100%;
  height: 40px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
  margin-top: 10px;
}

form textarea {
  width: 100%;
  resize: vertical; 
  min-height: 140px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
}

.logo img {
  font-size: 34px;
}

.logo img {
  object-fit: cover;
  height: 80px;
  width: 100%;
  visibility: collapse;
  visibility: visible;
  display: none;
  display: block;
}

#container {
  max-width: 100%;
  max-width: 480px;
  background:aquamarine;
  background: transparent;
  background: rgba(0,0,0,0.75);
  padding: 40px 60px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container h1 {
  width: 100%;
  text-align: center;
  font: 500 35px 'Oswald', sans-serif;
  margin-bottom: 20px;
}

#container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.submit {
  width: 200px;
  margin-top: 40px;
}

p {
  font-size: 20px;
  font-weight: normal;
}

::placeholder {
  color: #aaa;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaa;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #aaa;
}

.noselect, button {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.show {
  display: block;
}
.hidden {
  display: none;
}
.message {
  color: #fff;
  background-color: green;
}
.error {
  color: #fff;
  background-color: red;
}
.info {
  padding: 10px;
  border-radius: 4px;
  margin: 20px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24pt;
  font-weight: bold;
}

.xdebug-error th, .xdebug-error td {
  color: #000;
}